.newfold-staging-page.is-loading {
    position: relative;
    user-select: none;

    &::before {
        background: rgba(0,0,0,1);
        border-radius: 8px;
        content: '';
        cursor: progress;
        display: block;
        height: 100%;
        opacity: .1;
        pointer-events: all;
        position: absolute;
        user-select: none;
        width: 100%;
        z-index: 1;
    }
}
.newfold-staging-page.is-thinking {
    position: relative;
    user-select: none;

    &::before {
        background: rgba(255,255,255,1);
        border-radius: 8px;
        content: '';
        cursor: progress;
        display: block;
        height: 100%;
        opacity: .75;
        pointer-events: all;
        position: absolute;
        user-select: none;
        width: 100%;
        z-index: 1;
    }
    
    @keyframes peeking {
        0% { background-position: 1rem 100vh; }
        20% { background-position: 1rem 25vh; }
        60% { background-position: 1rem 25vh; }
        80% { background-position: 1rem 100vh; }
        100% { background-position: 1rem 100vh; }
    }

    &::after{
        animation-name: peeking;
        animation-delay: 1s;
        animation-direction: alternate;
        animation-duration: 5s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        background-image: url(../../../../assets/svg/snappy.svg);
        background-position: 1rem 100vh;
        background-size: auto 100%;
        background-repeat: no-repeat;
        content: '';
        cursor: progress;
        display: block;
        height: 100%;
        opacity: 0.75;
        pointer-events: all;
        position: absolute;
        user-select: none;
        width: 100%;
        z-index: 2;
    }

}