.hgwpp {

    .components-radio-control__option label span {
        
        strong {
            font-size: 16px;
            padding-top: 1px;
        }
        
        span {
            display: block;
            opacity: 0.9;
            padding: 0.5rem 0 0.25rem 1.75rem;
            transition: .2s opacity ease;
        }

        em {
            display: block;
            opacity: 0.9;
            padding: 0 0 0.75rem 1.75rem;
            transition: .2s opacity ease;
        }

        &:hover {
            span,
            em {
                opacity: 1;
            }
        }

    }

    /* WP 5.5 || WP 5.6 */
    [class*="hgwp-wp-5.5"],
    [class*="hgwp-wp-5.6"] {
        .components-radio-control__input[type="radio"]:checked::before {
            margin-top: 5px;
            margin-left: 5px;

            @media screen and (min-width: 782px) {
                height: 4px;
                margin-top: 2px;
                margin-left: 2px;
                width: 4px;
            }
            
        }
    }

    /* WP 5.7 */
    [class*="hgwp-wp-5.7"] {
        .components-radio-control__input[type="radio"]:checked::before {
            height: 6px;
            transform: translate(4px, 4px);
            width: 6px;

            @media screen and (min-width: 600px) {
                height: 4px;
                transform: translate(3px, 3px);
                width: 4px;
            }
            
        }
    }
}