.components-card__header {
    
    .price {
        margin-left: 2rem;
        color: var(--hgbrand-color-green);
        font-weight: 800;
    }
}

.hgwp-marketplace-tabs {
    display: flex;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: var(--hgbrand-color-secondary);

    .components-tab-panel__tabs {
        min-width: 10rem;
        margin-right: 2rem;
        margin-top: -1px;
    }
    
    .components-tab-panel__tabs-item {
        background-color: var(--hgbrand-color-accent);
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: var(--hgbrand-color-secondary);
        font-size: 15px;

        &:focus:not(:disabled) {
            box-shadow: none;
        }

        &:hover {
            color: var(--hgbrand-color-secondary);
        }

        &.current-tab {
            background-color: transparent;
            color: var(--hgbrand-color-secondary);
            border-width: 1px 0;
        }
    }

    .components-tab-panel__tab-content {
        padding-top: 1rem;
    }
}