:root {
    // Primary
    --color-primary: #1F2044;
    --color-primary-dark: #191936;
    --color-primary-light: #2E93EE;
    --color-primary-lighter: #74C1FF;
    // Secondary
    --color-secondary: #FFCF00;
    --color-secondary-dark: #ECA93E;
    --color-secondary-light: #FF9144;
    --color-secondary-lighter: #FFE885;
    // UI
    --color-title: #1F2044;
    --color-text: #4A4A4A;
    --color-link: #2E93EE;
    --color-border: rgba(0, 0, 0, 0.1);
    --color-success: #35CF8B;
    --color-warning: #F57C00;
    --color-error: #F16A5E;
    // Contrast
    --color-white: #FFFFFF;
    --color-off-white: #F5F6F8;
    --color-black: #000000;
    --color-success-contrast: #EBFAF3;
    --color-warning-contrast: #FFE3C6;
    --color-error-contrast: #FFE8E6;
    --color-canvas: #F5F6F8;
}

html {
    @media screen and (min-width: 782px) {
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
    }
}

body.toplevel_page_hostgator {
    --wp-admin-theme-color: var(--color-primary);
    --wp-admin-theme-color-darker-10: var(--color-primary-dark);
    --wp-admin-theme-color-darker-20: var(--color-text);
    --wp-admin-border-width-focus: 2px;
    --hgbrand-focus: inset 0 0 0 1px var(--color-white), 0 0 0 var(--wp-admin-border-width-focus) var(--color-primary);

    a {
        color: var(--color-link);
    }

    @media screen and (max-width:782px) {
        .wp-responsive-open #wpbody {
            right: -190px; // only when mobile admin menu open
        }
    }

    #wpwrap {
        background-color: var(--color-canvas);
    }

    #wpcontent {
        padding-left: 0 !important;
    }

    #wpadminbar .ab-top-menu {
        li {
            transition: opacity .33s ease;
        }

        .hideme {
            max-height: 32px;
            opacity: 0;
            overflow: hidden;
            pointer-events: none;
            width: 0;
        }
    }

    #wpbody-content .notice,
    #wpbody-content #dolly,
    #wpbody-content .update-nag {
        display: none;
    }

}

.hgwpp {

    #site_info_portal_button {
        background: transparent !important;
        border: 1px solid var(--color-white);
    }

    // color: #363636;
    
    //     h1,
    //     h2,
    //     h3,
    //     h4,
    //     h5,
    //     h6,
    //     .hgwp-nav a {
    //         font-weight: 800;
    //         color: var(--color-primary);
    //     }
    
    //     p,
    //     .hgwp-nav a,
    //     div {
    //         font-size: 15px;
    //         color: var(--color-text);
    //     }
    .components-card__body .components-toggle-control .components-base-control__field .components-toggle-control__label,
    .components-card__body .components-input-control__label,
    .components-card__body .components-input-control__label *,
    .components-card__body .components-radio-control__option label strong {
        font-weight: 800;
        color: var(--color-primary);
    }

    .components-button {
        font-weight: 800;
        font-size: 15px;
        transition: all 0.25s ease;
        white-space: nowrap;

        .dashicons,
        .dashicons-before:before {
            transition: all .25s ease;
        }

        &:focus:not(:disabled) {
            box-shadow: var(--hgbrand-focus);
        }

        &.is-primary,
        &[variant="primary"] {
            background-color: var(--color-primary);
            color: var(--color-white);
        }

        &.is-secondary,
        &[variant="secondary"] {
            border-color: var(--color-primary);
            box-shadow: inset 0 0 0 1px var(--color-primary);
            color: var(--color-primary);
        }

        &:last-child {
            padding-right: 1rem;
            /* <= WP 5.8 */
        }

        &.has-icon {
            padding-right: 1rem;

            .dashicon {
                margin-right: 10px;
                /* <= WP 5.6 */
            }
        }
    }

    a:focus {
        box-shadow: var(--hgbrand-focus);
        outline: 0;
    }

    .components-base-control__help,
    .components-radio-control__option label span span {
        color: var(--color-text);
        margin-top: 0.25rem;
    }

    .newfold-notifications-wrapper .notice {
        display: block !important;
    }
}

.hgwpp,
.hgwpp * {
    box-sizing: border-box;
}

// .hgwp-app-body {
//     padding: 3.25rem 24px 1rem;

//     &-inner {
//         max-width: 1290px;
//         margin-left: auto;
//         margin-right: auto;
//         width: 100%;
//     }

//     @media screen and (max-width:782px) {
//         padding-top: 2.5rem;
//     }
// }

.components-snackbar__content {
    color: var(--color-canvas) !important;
}

.grid {
    display: grid;
    gap: clamp(0.5rem, calc(1rem + 1vw), 2rem);
    padding: 0.5rem;

    &.col2,
    &.col3,
    &.col4 {
        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &.col3,
    &.col4 {
        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &.col4 {
        @media screen and (min-width: 1020px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}

.hgwp-app-snackbar {
    padding: 0 24px;
    position: relative;

    .components-snackbar-list {
        bottom: .5rem;
        position: fixed;
    }
}


.has-page-graphic {
    padding-bottom: 26rem;
}

.hgwp-page-graphic {
    bottom: 3.5rem;
    opacity: .5;
    position: absolute;
    right: 1rem;
    z-index: -1;
}

.nfd-disabled {
    opacity: .5;
    pointer-events: none;
}

.nfd-brand-logo {
    width  : 160px;
    height : 29px;
    display: block;

    &:not(.nfd-brand-logo--rendered) {
        background : url("../../assets/svg/nav-for-light.svg") no-repeat;
    }

    &.nfd-size-sm{
        height: 18px;
        width: 99px;
    }

    &.nfd-size-lg{
        height: 47px;
        width: 259px;
    }

    &.nfd-size-xl{
        height: 76px;
        width: 419px;
    }
}

.hgwpp {

    .components-card {

        &.short {
            margin-bottom: auto;
        }

        &.disabled {
            opacity: .5;
        }
    }

    .components-card-body,
    .components-card__body {

        &.disabled {
            opacity: .5;
        }
    }
}

.coming-soon-status {
    text-transform: uppercase;
}
