.hgwp-section {
    margin: 0 0 2rem;
    position: relative;

    &.coming-soon {
        margin-bottom: 10rem;

        .hgwp-section-graphic {
            top: -3rem;
            right: -6rem; 
        }
    }
}

.hgwp-section-graphic {
    opacity: 0.8;
    position: absolute;
    right: 1rem;
    top: 2rem;
    transition: all .5s ease;
    z-index: 0;

    &.reverse {
        transform: rotateY(180deg);
    }
}

.hgwp-section-card {
    max-width: 90%;
    z-index: 1;

    @media screen and (min-width: 700px) {
        max-width: 66%;
    }

    .components-card__footer {
        flex-direction: column;
        
        .hgwp-cardlist-content {
            width: 100%;
            .components-heading {
                display: flex;
                align-items: center;
                .dashicons, svg {
                    margin-right: 8px;
                    color: var(--hgbrand-color-secondary);
                    fill: var(--hgbrand-color-secondary);
                }
            }
        }

        .components-button {
            margin: 1rem auto;
        }

        @media screen and (min-width: 700px) {
            flex-direction: row;

            .hgwp-cardlist-content {
                max-width: 60%;
            }

            .components-button {
                margin: 0;
            }
        }
    }
}